<div class="all_contents">
  <div class="out_contents">
    <div class="user_show">
      <div class="user_out_box">
        <div class="user_in_box">
          <h3>プロフィールの編集が完了しました。</h3>
          <%= link_to "ホームに戻る", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>